name: Deploy HTML Site to EC2 using Docker

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/miyuru-web
            docker stop miyuru-site || true
            docker rm miyuru-site || true
            docker build -t miyuru .
            docker run -d -p 80:80 --name miyuru-site miyuru

           
        
